.App {
  text-align: center;
}

.Typeahead {
  position: relative;
  max-width: 300px;
}

.Typeahead input {
  width: 100%;
}

.Typeahead ul.closed {
  display: none;
}

.Typeahead ul.open {
  display: block;
}

.Typeahead ul {
  position: absolute;
  top: 100%;
  width: 100%;

  padding-left: 0;
  list-style: none;
  border: 1px solid black;
}

.Typeahead ul li {
  padding: 8px;
}
